{% extends 'base.html' %}

{% block content %}
  <div class="container py-4">
    <div class="row align-items-start">
      <!-- Left: Contact details -->
      <div class="col-md-8">
        <h2 class="mb-3">Kontakt</h2>
        <ul class="list-unstyled">
          <li><strong>Meno:</strong> Bc. Elmira Voloshchuk</li>
          <li><strong>Univerzita:</strong> Ekonomická univerzita v Bratislave (EUBA) - <a href="https://www.euba.sk" target="_blank">www.euba.sk</a></li>
          <li><strong>Anglický názov univerzity:</strong> Bratislava University of Economics and Business</li>
          <li><strong>Fakulta:</strong> Fakulta hospodárskej informatiky (FHI) - <a href="https://fhi.euba.sk" target="_blank">fhi.euba.sk</a></li>
          <li><strong>Email univerzitný:</strong> evoloshchuk1@student.euba.sk</li>
          <li><strong>Email súkromný:</strong> elyav8723@gmail.com</li>
          <li><strong>Vedúci diplomovej práce:</strong> doc. Ing. Jaroslav Kultan, PhD., PhD. - Email: <a href="mailto:jaroslav.kultan@euba.sk">jaroslav.kultan@euba.sk</a></li>
        </ul>
      </div>

      <!-- Right: Logos next to contacts -->
      <div class="col-md-4 d-flex flex-column align-items-center">
        <img src="https://sk.gaudeamus.cz/getFile/case:show/id:517261/FakultaHospodarskejInformatiky.jpg"
             alt="FHI Logo"
             style="max-height: 80px;"
             class="img-fluid mb-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt5mkTQebTuau1yksQ0SKP-EU8p4H2wzK1uFVcEktvl-mJciwFxr503W17PWUFOGv3VOc&usqp=CAU"
             alt="EUBA Logo"
             style="max-height: 80px;"
             class="img-fluid">
      </div>
    </div>
  </div>
{% endblock %}
